*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#homepage {
    
}

#homepagetitle {
    font-size: 48px;
    color: black;
    background-color: lightgoldenrodyellow;
    border: 5px dashed darkgray;
    text-align: center;
    padding: 5px 40px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: fit-content;
}

#recipelink {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;
    background-color: floralwhite;
    border: 2px solid black;
    width: fit-content;
}

#recipename {
    color: black;
    background-color: #a88932;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    border: 5px solid black;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
}

.picture {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 10px solid black;
}

.description {
    text-align: center;
    background-color: gray;
    width: 625px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px dotted #a88932;
}

#descriptioncontent {
    padding: 10px;
}

#descriptionheader {
    margin-bottom: 10px;
}

#ingredients {
    border: 3px solid black;
    padding: 10px 30px;
    width: fit-content;
    background-color: #d1d1d1;
    margin-bottom: 10px;
}

#steps {
    border: 3px solid black;
    padding: 10px 30px;
    width: fit-content;
    background-color: #d1d1d1;
}

#contentheader {
    text-decoration: underline;
    padding-bottom: 10px;
    display: block;
}

.sideby {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.backbutton {
    background-color: gray;
    color: white;
    font-size: 14px;
    height:30px; 
    width:100px; 
    margin: 45px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    display: block;
    border: 2px solid black;
}

button:hover {
    background-color: #a88932;
    color: black;
}


/* 


#content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
}

outline: 2px solid red;


*/
